<template>
    <form>
        <p align="right">
  <router-link :to="{ name: 'Logout' }" class="btn btn-primary">logout</router-link>
</p> 
    <table class="table table-striped table-borderes">
        <thead>
            <tr>
                <th>username</th>
                <th>phone no</th>
                <th>email</th>
                <th>rating</th>
                <th>brand name </th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user_alias in User">
            <td> {{user_alias.user_name}} </td>
             <td> {{user_alias.phon_no}} </td>  
            <td>{{user_alias.email}}</td>
            <td>{{user_alias.rating}}</td>
            <td> {{user_alias.brand_id}} </td>
            <td>{{user_alias.date}}</td>
        </tr>
        </tbody>
    </table>
</form>
    </template>
<script>
/* eslint-disable */
import axios from 'axios';
  export default {
    name: 'app',
    data() {
        return{
            User: []
        }
    },
    mounted(){
        axios.get('https://boiling-earth-10935.herokuapp.com/feeds')
        .then((response) => {
            console.log(response.data)
            this.User = response.data;
        })
        .catch((error) => {
            console.log(error);
        })
    }    
    }
</script>
<style>
button {
    align: right;
}
</style>